@import "tailwindcss";

@theme {
    --color-primary: #ffce1a;
    --color-secondary: #0d0842;
    --color-blackBG: #f3f3f3;
    --color-favorite: #ff5841;
    --font-primary: "Merriweather", serif;
    --font-secondary: "Merriweather", serif;
}